# Privy Configuration (REQUIRED)
NEXT_PUBLIC_PRIVY_APP_ID=
# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_OPENSERV_API_URL=https://api.openserv.ai
NEXT_PUBLIC_OPENSERV_API_KEY=
NEXT_PUBLIC_OPENSERV_WORKFLOW_ID=
NEXT_PUBLIC_OPENSERV_WEBHOOK_URL=
NEXT_PUBLIC_OPENSERV_AGENT_ID=